# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# Log files
*.log

# Data files
*.csv
*.sqlite
*.db

# OS files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.swp
*.tmp

# Pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Ignore secrets
config.py